<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="localMySql" connectionString="server = 127.0.0.1; user id = netuser; password = netpass; port = 3306; database = netdb;" />
	</connectionStrings>
</configuration>